/* Just a bit bigger */

article {
  display: inline-block;
  border: 4px blue solid;
  text-align: center;
  background: darkslategray;
  color: white;
}

button {
  font-size: larger;
  font-weight: bolder;
}

body {
  text-align: center;
}

#beforetoafter {
  display: flex;
  justify-content: center;
  align-items: center;
}
