/* Just a bit bigger */

body {
  text-align: center;
}

#beforetoafter {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: 4px blue solid;
  text-align: center;
  background: darkslategray;
  color: white;
}

#beforetoafter img {
  padding: 1em;
}

label {
  cursor: pointer;
  box-shadow: inset white 0 0 10px;
  background: black;
  padding: 1em;
  border-radius: 1em;
  transition: box-shadow 1s;
}

label:hover {
  box-shadow: inset white 0 0 0px;
}
