/* Just a bit bigger */

body {
  text-align: center;
}

#beforetoafter {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: 4px blue solid;
  text-align: center;
  background: darkslategray;
  color: white;
}

#beforetoafter img {
  padding: 1em;
}

label mark {
  padding: 1em;
  border-radius: 1em;
}
